.bundle
db/*.sqlite3
log/*.log
tmp/
coverage/
coverage.data
draft_features

townhallapp.tmproj

.idea/workspace.xml

.idea/.generators

.idea/encodings.xml

.idea/townhallapp.iml

.idea/vcs.xml

.idea/modules.xml

.idea/misc.xml

.idea/dataSources.xml

.idea/dataSources.ids

.idea/.rakeTasks

.idea/.name

db/test.sqlite3-journal
