- title "Submissions"

- if @submissions.any?

  %ul
    - for submission in @submissions
      %li= submission.name

- else
  There are no submissions

- if user_signed_in?
  %p= link_to "New Submission", new_series_submission_path(@series)
