- if @featured_submission

  %h2 Featured Submission
  %ul#featured-submission
    = render 'submissions/submission', {:submission => @featured_submission}
- elsif @featured_submission.nil? && @series.submissions.any?
  .all-voted-on
    You have voted on all the submissions in this series