- title @series.name

= render 'featured'

%h2 All Submissions

- if @series.submissions.empty?
  There are no submissions
- else
  %ul#submissions= render @series.submissions

- if user_signed_in?
  %p= link_to "New Submission", new_series_submission_path(@series)

%p= link_to "View All Series", series_index_path
